<h1>edit cocktail</h1>


<% @cocktail.doses.each do |dose|%>
     <ul><li class="list-inline-item"> <%= dose.description  %> </li>
     <li class="list-inline-item"> <%= dose.ingredient.name %> </li></ul>

    <% end %>

  <%= link_to 'Edit', edit_cocktail_path(@cocktail) %>
  <%= link_to 'Cocktails lists', root_path %>

