
<div class="container">
  <h1>Bistrots les Amis</h1>
  <% @cocktails.each do |cocktail|%>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %> </h2>
      </div>
      <br>
    <% end %>
    <br>

  <%= link_to "create a new cocktail", new_cocktail_path, :class => "btn btn-primary" %>

</div>
